*.info
update.bin
updtest.txt
version.txt
station.pid
cups.crt
cups.key
cups.trust
cups.uri
cups-bak.*
cups-temp.*
cups-router-1.cfg
tc.crt
tc.key
tc.trust
tc.uri
tc-bak.*
tc-temp.*
spidev
_cups
_shome
_tc